/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Segoe+UI:wght@400;500;700&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */
:root {
  --black: #0d0d0d;
  --deep-navy-blue: #01218c;
  --vibrant-sky-blue: #0487b9;
  --magenta-pink: #ce0c98;
  --white: #ffffff;
  --soft-light-gray: #ececec;
}

/* Apply Fonts */
body {
  font-family: 'Segoe UI', 'Manrope', sans-serif;
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-rotate {
  background-size: 200% 200%;
  animation: gradient-rotate 2s both infinite;
}
